/* whole body styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* navbar styling */
.navbar-section {}

.search-img {
    width: 80px !important;
    height: 80px;
}

.shop-img {
    width: 50px;
    height: 50px;
}

/* hero section styling */
.slider-section {
    width: 50%;
    margin: auto;
}

.slider {
    width: 100%;
    height: 500px;
    border-radius: 10px;
    margin: auto;
}

.slider1 {
    width: 90%;
    margin: auto;
    height: 500px;
    border-radius: 10px;
}

.slider1-slides {
    width: 250px !important;

}

.slider1a {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
}

.slider2 {
    width: 90%;
    margin: auto;
}

.slide {
    width: 100%;
    height: 500px !important;
}

.slides {
    width: 300px !important;

}

.slides:hover {
    transform: scale(1.025) !important;
}

h2 {
    font-size: 15px;
}

/* Slick arrows ki styling */
.slick-prev,
.slick-next {
    background: none;
    /* button background hatao */
    border: none;
    /* button border hatao */
    font-size: 30px;
    /* arrow size */
    color: black;
    /* arrow color */
    z-index: 10;
    width: auto;
    height: auto;
}

.slick-prev:before,
.slick-next:before {
    color: black;
    /* arrow color */
    font-size: 30px;
    /* arrow size */
}


/* hero section styling */
/* .hero-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url(../images/pharma-bg-img-3.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 90vh;
    width: 100%;
    position: relative;
}

.hero-section::before {
    content: '';
    position: absolute;
    height: 90vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.hero-h1 {
    position: relative;
    font-size: 70px;
    z-index: 5;
    color: white;
    width: 70%;
    margin: auto;
}

.typewriter {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  border-right: 3px solid white; /* Cursor 
  width: 0;
  animation: typing 2s steps(8), blink 0.7s infinite;
}

.hero-p {
    position: relative;
    font-size: 25px;
    line-height: 40px;
    z-index: 5;
    color: white;
    width: 70%;
    margin: auto;
} */
/*
/* animation styling */
/* @keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

/* Cursor blink */
/* @keyframes blink {
    50% {
        border-color: transparent;
    }
} */


/* product section styling */
.products-section {
    margin-top: 10vh;
}

.product-cont {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    margin-top: 10vh;
    width: 90%;
    margin: auto;
}

.product-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    padding: 5px;
    border-radius: 20px;
}



/* countact us section styling */
.contact-us-section {
    height: 30vh;
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    color: white;
}

.contact-us-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10vh;
}

/* imgs styling */
img {
    width: 200px;
    height: 250px;
}

.display-flex {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}

.align-item-center {
    align-items: center;
}

input[type=text] {
    padding: 10px;
    width: 500px;
    border-radius: 20px;
}


h2 {
    padding: 10px;
}

button {
    padding: 7px;
    border-radius: 20px;
    margin-bottom: 5px;
    width: 200px;
}

button:hover {
    background-color: blue;
    color: white;
}

/* media queries ui ux styling */
@media (max-width:1650px) {
    .product-cont {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width:1000px) {
    .product-cont {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media(max-width:870px) {
    .hero-h1 {
        width: 80%;
        margin: auto;
        font-size: 50px;
    }

    .hero-p {
        width: 80%;
        margin: auto;
    }
}

@media(max-width:600px) {
    .hero-h1 {
        width: 95%;
        margin: auto;
        font-size: 35px;
    }

    .hero-p {
        width: 95%;
        margin: auto;
        font-size: 25px;
        padding-top: 10px;
    }
}

@media (max-width: 600px) {
    .slider-section {
        width: 80%;
        margin: auto;
    }



    .slider1 {
        display: grid !important;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px 0px;
        width: 90%;
        height: 500px;
        border-radius: 10px;
    }


    .slider1 .slides {
        width: 100%;
    }

    .slider1-imgs {
        width: 80px;
        height: 80px;
    }

    button {
        width: 80px;
    }

    .slider1-slides {
        width: 100px !important;

    }

    .navbar-section {
        width: 90%;
        margin: auto;
    }
}

@media(max-width:450px) {
    .slider1-imgs {
        width: 50px;
        height: 50px;
        border: 1px solid black;
        border-radius: 20px;
        margin: 0px;

    }
    .slider1{
        margin: 0px;
    }

    .slider1-slides {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}


@media (max-width:550px) {
    .product-cont {
        display: grid;
        grid-template-columns: 1fr;
    }
}