/* whole body styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* navbar styling */
.navbar-section {
    background-color: aquamarine;
}

.search-img {
    width: 80px !important;
    height: 80px;
}

/* hero section styling */
.hero-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url(../images/pharma-bg-img-3.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 90vh;
    width: 100%;
    position: relative;
}

.hero-section::before {
    content: '';
    position: absolute;
    height: 90vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.hero-h1 {
    position: relative;
    font-size: 70px;
    z-index: 5;
    color: white;
    width: 70%;
    margin: auto;
}

.typewriter {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  border-right: 3px solid white; /* Cursor */
  width: 0;
  animation: typing 2s steps(8), blink 0.7s infinite;
}

.hero-p {
    position: relative;
    font-size: 25px;
    line-height: 40px;
    z-index: 5;
    color: white;
    width: 70%;
    margin: auto;
}

/* animation styling */
@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

/* Cursor blink */
@keyframes blink {
    50% {
        border-color: transparent;
    }
}


/* product section styling */
.products-section {
    margin-top: 10vh;
}

.product-cont {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    margin-top: 10vh;
    width: 90%;
    margin: auto;
}

.product-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    padding: 5px;
    border-radius: 20px;
}

.product-items:hover{
    background-color: aqua;
}

/* countact us section styling */
.contact-us-section{
    height: 30vh;
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    color: white;
}
.contact-us-cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10vh;
}

/* imgs styling */
img {
    width: 200px;
    height: 250px;
}

.display-flex {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}

.align-item-center {
    align-items: center;
}

input[type=text] {
    padding: 10px;
    width: 500px;
    border-radius: 20px;
}


h2{
    padding: 10px;
}
button{
    padding: 7px;
    border-radius: 20px;
    margin-bottom: 5px;
    width: 200px;
}
button:hover{
    background-color: blue;
    color: white;
}

/* media queries ui ux styling */
@media (max-width:1650px){
    .product-cont{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width:1000px){
    .product-cont{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media(max-width:870px){
    .hero-h1{
        width: 80%;
        margin: auto;
        font-size: 50px;
    }
    .hero-p{
        width: 80%;
        margin: auto;
    }
}

@media(max-width:600px){
    .hero-h1{
        width: 95%;
        margin: auto;
        font-size: 35px;
    }
    .hero-p{
        width: 95%;
        margin: auto;
        font-size: 25px;
        padding-top: 10px;
    }
}

@media (max-width:550px){
    .product-cont{
        display: grid;
        grid-template-columns: 1fr;
    }
}
