/* whole body styling */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
img{
    width: 300px;
    height: 300px;
}
/* buy-page-container styling */
.buy-page-cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 98vh;
}

/* buy page styling */
.buy-page{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* imgs container styling */
.imgs-cont{
    margin-top: 20vh;
}
/* h3 styling */
h3{
    font-size: 50px;
    width: 70%;
    padding: 0px 20px;

}
/* p styling */
p{
    font-size: 50px;
    display: none;
}
/* imgs styling */
.img2,
.img3,
.img4{
    width: 200px;
}

/* media queries ui ux styling */
@media(max-width:1450px){
    .buy-page{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    h3{
        text-align: center;
        width: 100%;
    }
    .buy-page img{
        margin-top: 5vh;
    }
}
@media (max-width:700px){
    .buy-page img{
        margin-top: 5vh;
        width: 300px;
        height: 300px;
    }
    .buy-page-cont{
        height: 180vh;
    }
    .imgs-cont{
        display: flex;
        gap: 15px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    h3{
        font-size: 40px;
        margin-top: 2vh;
    }
}